.searchbox_position {
  top: 38px;
  left: 48%;
}

/* 4k */
@media (max-width: 2560) {
  .searchbox_position {
    right: 109vh;
  }
}

/* lg */
@media only screen and (max-width: 1440px) {
  .searchbox_position {
    left: 46%;
  }
}

/* md */
@media only screen and (max-width: 1280px) {
  .searchbox_position {
    left: 30%;
  }
}

/* md */
@media only screen and (max-width: 800px) {
  .searchbox_position {
    left: 15%;
  }
}

/* sx */
@media only screen and (max-width: 600px) {
  .searchbox_position {
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100vw;
  }
}
