.container {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 3.75rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.bannerBackground {
  display: flex;
  height: 22.5rem;
  align-items: center;
  justify-content: center;
  background-image: url('/img/hero-banner.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.75rem;
  max-height: 304px;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  color: #1f2529;
  font-weight: bold;
  font-size: 3.25rem;
  width: 75%;
  line-height: 1.5;
}

.titlePart1 {
  line-height: 1;
}

.description {
  color: #4d545c;
  width: 55%;
  font-size: 1.1428571428571428rem;
  margin: 0;
  line-height: 1.5;
}

@media only screen and (max-width: 960px) {
  .title {
    width: 100%;
    font-size: 2.375rem;
  }
  .description {
    width: 100%;
  }
}
