body {
  text-align: center;
  font-size: 1rem !important;
  padding: 1.5rem 15rem 0 15rem;
}

@font-face {
  font-family: 'Circular Std';
  src: url(/fonts/CircularStd/CircularStd-Medium.ttf);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url(/fonts/CircularStd/CircularStd-Bold.ttf);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
