body {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto !important;
}

@font-face {
  font-family: 'Circular Std';
  src: url(/fonts/CircularStd/CircularStd-Medium.ttf);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url(/fonts/CircularStd/CircularStd-Bold.ttf);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
